body {
  background-color: #323232;
}

p {
  color: white;
  text-align: left;
  font-size: 24px;
}


h1 {
  color: #0DAFE7;
  text-align: center;
}


h2 {
  color: #D3D3D3;
  text-align: center;
}


h3 {
  color: white;
}


h4 {
  color: white;
}

#dropdown {
  background-color: black;
  color: orange;
}
